@model LinuxHelp.Models.SearchCommand

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="font-size: 25px;">
    <div class="panel-success" style="margin-top:250px;">
        <div class="panel-heading text-center">
            <h1>Введите команду</h1>
        </div>
        <div class="m-0 p-0 container-fluid">
            @using (Html.BeginForm())
            {
                <div class="form-group d-flex justify-content-center row">
                    @Html.TextBoxFor(x => x.Command, new { @class = "col-4" })
                    <input type="submit" value="Search" style="font-size: 20px;" class="ml-1 col-1 btn btn-success" />
                </div>
                <div style="color: red; font-weight:bold;" class="d-flex justify-content-center row">
                    @if (ViewBag.not_found == true)
                    {
                        <span>not found</span>
                    }
                    else
                    {
                        @Html.ValidationSummary()
                    }


                </div>
            }
        </div>
    </div>
</body>
</html>