@{
    Layout = null;
}
@model LinuxHelp.Models.SearchCommand

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="font-size: 25px;">
    <div class="d-flex justify-content-center row"><a class="col-3 mt-3 mb-2 btn btn-success" style="font-size: 25px;" href="/">back</a></div>
    
    <div class="d-flex justify-content-center row">
        <h1>
            @Model.Command
        </h1>
    </div>
    <div class="d-flex justify-content-center row">
        @Html.Raw(ViewBag.term)
    </div>
</body>
</html>